@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blogu Düzenle</h1>

@using (Html.BeginForm("EditAdd", "Blog", FormMethod.Post))
{   
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x=>x.BlogID,new  {@class="form-control"} )
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x=>x.BlogTitle,new  {@class="form-control"})
    
    <br />
    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x=>x.BlogImage,new  {@class="form-control"})

    <br />
    @Html.Label("Blog Küçük Görseli")
    @Html.TextBoxFor(x=>x.BlogThumnailImage,new  {@class="form-control"})

    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.categoryValues,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryID)
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x=>x.BlogContent,10,3,new  {@class="form-control"})
    
    <br />
    <button  class="btn btn-info">Güncelle</button>
}